#it should be sum of all other requirements*.txt files from subfolders just to make easier to create virtualenv for development
#it can be done by executing:
#find . -name 'requirements*.txt' -exec cat {}  >> requirements-dev.txt \; 
Django==1.10.2
psycopg2==2.6.2
gunicorn==19.6
django-contrib-comments==1.7.3
django-filter==0.15.2
Markdown==2.6.7
djangorestframework==3.4.7
django-rest-framework-social-oauth2==1.0.4
when-changed==0.3.0
python-dotenv==0.6.0
pytest==3.0
pytest-django==3.0
pytest-env==0.6
